
/* UNIVERSAL */

* {
    outline: solid 1px red;
}

html {
    background-color: #2E2E2E;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    color: #ECCDBC;
    scroll-behavior: smooth;
    max-width: 100vw;
    /* overflow-x: hidden; */
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 11px;
    }
}


/* HOME */

#home {
    height: 100vh;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 90;
    font-weight: 200;
    background-image: radial-gradient(30% 100% at top right, #2e2e2e 30%, transparent), radial-gradient(30% 100% at top left, #2e2e2e 50%, transparent);
}

header #title-logo {
    color: #c59d87;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    padding-left: 3rem;
    padding-top: 1.5rem;
}

header nav {
    padding-top: 1.5rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: right;
}

header nav a {
    color: #c59d87;;
    text-decoration: none;
    background-image: linear-gradient(#d99a5a, #d99a5a);
    background-size: 0% 0.05em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    }

header nav a:hover,
header nav a:focus,
header nav a:active {
    background-size: 100% 0.05em;
    }

@media only screen and (max-width: 500px) {
    header #title-logo {
        padding-left: 1rem;
    }

    header nav {
        padding-right: 1rem;
    }

}


/* roles */

   #roles {
        position: relative;
        top: 65vh;
   }

    #roles-title {
        text-transform: capitalize;
        font-size: 5rem;
        font-weight: 100;
        text-align: left;
        padding-left: 2rem;
    }

    @media only screen and (max-width: 900px) {
        #roles {
            top: 70vh;
        }
        
        #roles-title {
            text-align: center;
            padding-left: 0;
        }

        #roles-title h2 {
            background:radial-gradient(ellipse at 50% 50%, rgba(46, 46, 34, 0.3) 7%, rgba(0, 188, 212, 0) 66%);

        }
    }    



/* central image */

    #central-image-container {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: -1;
        overflow: hidden;
    }

    #central-image {
        height: 50vh;
        display: block;
        margin: 0 auto 0 auto;
        padding-top: 25vh;
        z-index: -1;
        opacity: 1;
    }

    @media only screen and (max-width: 900px) {
        #central-image {
            height: 40vh;
            padding-top: 20vh;
        }
    }

/* quote */
    #container {
        position: absolute;
        z-index: 10;
        margin-right: 2vw;
        right: 1%;
        top: 40%;
        width: 25rem;
        height: 10rem;
        overflow: hidden;
    }

    .carousel {
        display: flex;
        width: 25rem;
        animation: quote-carousel 20s infinite;
    }

    .quote {
        font-size: 2rem;
        margin-bottom: 10rem;
        width: 25rem;
        display: flex;
        flex-direction: column;
    }

    .quote h3 {
        font-size: 1rem;
        width: 25rem;
    }

    .quote hr {
        background-color: #c59d87;
        color: #c59d87;
        border: none;
        height: 0.06em;
        text-decoration: none;
    }
    
    @media only screen and (max-width: 900px) {
        #container {
            display: none;
        }    
    }    

    @keyframes quote-carousel {
        0%,
        30% { 
            transform:translateX(0rem) 
        }
        33%,
        63% { 
            transform:translateX(-25rem) 
        }
        66%,
        98% { 
            transform:translateX(-50rem) 
        }
        100% {
            transform: translateX(0rem);
        }
    }


/* about section */
    #about {
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }
    
    #about-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100vw;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10vw;
    }


    #about h2 {
        font-size: 5rem;
        margin-bottom: 5rem;
    }

    #about p {
        width: 40vw;
        margin-right: 5vw;
        margin-left: 5vw;
        line-height: 1.5;
        font-size: 1.2rem;
    }

    #about-image img {
        height: 30rem;
        width: auto;
        z-index: 20;
        filter: grayscale(80%);
        margin-top: 1rem;
    }

    @media only screen and (max-width: 900px) {
        #about-image {
            display: flex;
            justify-content: center;
            height: 50vh;
            width: 30vw;
            overflow: hidden;
        }

        #about-image img {
            height: 100%;
            width: auto;
        }
    }
    
    @media only screen and (max-width: 500px) {
        #about-container {
            flex-direction: column;
            margin-left: 0;
        }

        #about p {
            width: 85vw;
            margin-right: 5vw;
            margin-left: 5vw;
            line-height: 1.5;
            font-size: 1.2rem;
        }

        #about-image {
            display: flex;
            justify-content: center;
            height: 30vh;
            width: 70vw;
            overflow: hidden;
            margin-top: 3rem;
        }

        #about-image img {
            height: 100%;
            width: auto;
        }

    }

/* experience overlay */

    #menu-active-overlay {
        z-index: 800;
        position: fixed;
        top: 0;
        height: 200vh;
        width: 200vh;
        background-color: rgba(0, 0, 0, 0.3);
        visibility: hidden;
    }

    .side-overlay-experience {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 900;
        height: 100vh;
        width: 50vw;
        background-color: #ECCDBC;
        color: #2e2e2e;
        text-align: center;
        transform: translateX(50vw);
        transition: transform 0.3s ease-in-out;
        font-weight: 200;
    }

    .close-button {
        height: 5vh;
        margin: 2rem 0 2rem 80%;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.1s ease-in-out;
    }

    .close-button:hover {
        transform: scale(1.2);
        transition: transform 0.1s ease-in-out; 
    }

    .side-overlay-experience .mac-image {
        width: 50%;
        height: auto;
        margin: 2rem auto;
    }

    .side-overlay-experience h3 {
        font-size: 2rem;
        margin: 6rem auto 2rem auto;
    }

    .side-overlay-experience h4{
        font-size: 1.5rem;
    }

    .side-overlay-experience h5{
        font-size: 1rem;
    }

    .side-overlay-experience p {
        font-size: 1rem;
        line-height: 1.3;
        width: 60%;
        margin: 2rem auto;
    }

    @media only screen and (max-width: 900px) {
        .side-overlay-experience {
            width: 100%;
            transform: translateX(100vw);
        }
    }     


    
/* experience section */

    #experience {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }

    #experience-box {
        margin-left: 10vw;
    }

    #experience-container {
        width: fit-content;
        margin-left: 4rem;
    }

    #experience h2 {
        font-size: 5rem;
        margin-bottom: 5rem;

    }

    .experience-item h3 {
        font-size: 2rem;
    }

    .experience-item h4 {
        font-size: 1.5rem;
    }

    .experience-item {
        display: flex;
        line-height: 1.5;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        width: 40vw; 
       }

    .experience-item h5 {
        padding-bottom: 0.4rem;
        border-bottom: 0.05em solid #c59d87;
    }

    .arrow-right {
        height: auto;
        width: 0.5rem;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }

    .arrow-right:hover {
        cursor: pointer;
        transform: translateX(0.5rem);
        transition: transform 0.3s ease-in-out;
    }

    @media only screen and (max-width: 500px) {
        #experience-box {
            margin-left: 1rem;
        }

        #experience-container {
            margin-left: 0;
        }

        .arrow-right img {
            height: auto;
            width: 15rem;
            padding-left: 1rem;
        }
    }


/* contact section */

    #contact-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    #contact-section h2 {
        font-size: 5rem;
        margin-left: 10vw;
    }

    .side-overlay-contact {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 900;
        height: 100vh;
        width: 50vw;
        background-color: #ECCDBC;
        color: #2e2e2e;
        text-align: center;
        transform: translateX(50vw);
        transition: transform 0.3s ease-in-out;
        font-weight: 200;
    }

    .side-overlay-contact h3 {
        font-size: 4rem;
        font-weight: 100;
        margin-bottom: 4rem;
    }

    .side-overlay-contact form input,
    .side-overlay-contact form textarea {
        width: 90%;
        font-family: 'Work Sans', sans-serif;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #2E2E2E;
        margin-bottom: 3rem;
        resize: vertical;
    }

    .side-overlay-contact form input:autofill,
    .side-overlay-contact form textarea:autofill {
        font-family: 'Work Sans', sans-serif;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #2E2E2E;
    }

    .side-overlay-contact form input:focus,
    .side-overlay-contact form textarea:focus {
        border-bottom: solid 1px #2E2E2E;
        outline: none;
    }

    .side-overlay-contact form .form-submit-with-button {
        border: none;
        cursor: pointer;
        background-image: url(../images/arrow-right.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 15% center;
        width: 16rem;
        height: 4rem;
        text-align: left;
        font-size: 2rem;
        transition: background-position 0.3s ease-in-out;
    }

    .side-overlay-contact form .form-submit-with-button:hover {
        background-position: right 0 center;
        transition: background-position 0.3s ease-in-out;
    }

    .side-overlay-contact form #message {
        height: 200px;
    }

    @media only screen and (max-width: 900px) {
        .side-overlay-contact {
            width: 100%;
            transform: translateX(100vw);
        }

    }     

    @media only screen and (max-width: 500px) {
        #contact-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0;
            margin-left: 0; 
        }
        #contact-section img {
            padding-left: 20vw;
            padding-top: 1rem;
        }                 
    }